:root {
  --circle: #03e9f4;
  --cross: #e9033d;
  --dark: #141e30;
  --light: #c2c0c0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  background-color: var(--dark);
}

h1 {
  font-size: 52px;
  color: var(--light);
}
.title-circle {
  color: var(--circle);
}
.title-cross {
  color: var(--cross);
}

.game {
  display: flex;
  gap: 30px;
}

.score {
  height: 300px;
  width: 100px;
  border: solid 2px var(--light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 52px;
  gap: 40px;
  padding-top: 20px;
}
#score-circle,
#score-cross {
  color: var(--light);
}

#gameboard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--light);
}

.square {
  width: 100px;
  height: 100px;
  background-color: var(--dark);
  border: solid 2px var(--light);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid var(--circle);
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}
.cross:before,
.cross:after {
  position: absolute;
  content: "";
  background-color: var(--cross);
}
.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

#info {
  font-size: 24px;
}
.info-circle {
  color: var(--circle);
}
.info-cross {
  color: var(--cross);
}

/* buttons */
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--circle);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  border: none;
  background-color: var(--dark);
  cursor: pointer;
}

.btn:hover {
  background: var(--circle);
  color: white;
  box-shadow: 0 0 5px var(--circle), 0 0 25px var(--circle),
    0 0 50px var(--circle), 0 0 100px var(--circle);
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--circle));
  animation: btn-anim1 4s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--circle));
  animation: btn-anim2 4s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--circle));
  animation: btn-anim3 4s linear infinite;
  animation-delay: 2s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--circle));
  animation: btn-anim4 4s linear infinite;
  animation-delay: 3s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
